* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Arial";
    font-weight: bold;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto auto auto minmax(100px, 1fr);
    box-sizing: border-box;
    width: 99.9vw;
    height: 99.9vh;
  }
  .grid-container > div {
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: top;
  }
  
  .item-header {
    grid-column: 1/3;
    grid-row: 1/2;
    align-items: center;
  }
  .item-player {
    aspect-ratio: var(--ratio);
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item-description {
    grid-column: 1/2;
    grid-row: 3/5;
  }
  .item-search {
    background-color: #f1f1f1;
    grid-column: 2/3;
    grid-row: 2/5;
  }
  
  @media screen and (max-width: 720px) {
    .item-player {
      grid-column: 1/3;
      grid-row: 2/3;
    }
    .item-description {
      grid-column: 1/3;
      grid-row: 3/4;
    }
    .item-search {
      grid-column: 1/3;
      grid-row: 4/5;
    }
  }
  
  .grid-description {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 50%;
    grid-template-rows: 48px auto;
    box-sizing: border-box;
    background-color: #d9deff;
    width: 100%;
    height: 100%;
  }
  .grid-description > div {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: top;
  }
  .grid-description > div > button {
    aspect-ratio: var(--ratio);
  }
  
  .item-more {
    aspect-ratio: var(--ratio);
    background-color: #61e8e1;
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .item-advertisement {
    background-color: #d1d876;
    grid-column: 1/5;
    grid-row: 3/4;
  }
  .item-controll-replay {
    background-color: #87e861;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .item-controll-play-pause {
    background-color: #87e861;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .item-controll-next {
    background-color: #87e861;
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item-controll-mute-unmute {
    background-color: #87e861;
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .item-next {
    background-color: #f2af57;
    grid-column: 5/6;
    grid-row: 1/4;
  }
  
  div.example input[type="text"] {
    padding: 10px;
    border: 1px solid grey;
    float: left;
    width: 85%;
    background: #f1f1f1;
  }
  
  div.example button {
    float: left;
    width: 15%;
    padding: 10px;
    background: #2196f3;
    color: white;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  div.example button:hover {
    background: #0b7dda;
  }
  
  /* div.example::after {
    content: "";
    clear: both;
    display: table;
  } */
  
  ul {
    list-style-type: none;
    width: 100%;
  }
  
  h3 {
    font: bold 14px/1.2 Helvetica, Verdana, sans-serif;
  }
  
  div img {
    width: 120px;
    height: 68px;
    object-fit: cover;
    float: left;
    margin: 0 7px 0 0;
  }
  
  div p {
    font: 200 12px/1.1 Georgia, Times New Roman, serif;
  }
  
  ul div {
    padding: 7px;
    overflow: auto;
  }
  
  ul div:hover {
    background: #ddd;
    cursor: pointer;
  }
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.5s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* submenu */
  .hide {
    display: none;
  }
  .show {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    z-index: 1000;
    position: absolute;
    background-color: #c0c0c0;
    border: 1px solid;
    padding: 2px;
    display: block;
    margin: 0;
    list-style-type: none;
    list-style: none;
  }
  .show button {
    float: left;
    padding: 10px;
    background: #2196f3;
    color: white;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  .show button:hover {
    background: #0b7dda;
  }