* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Arial";
    font-weight: bold;
    font-size: 14px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto minmax(100px, 1fr);
    box-sizing: border-box;
    width: 99.9vw;
    height: 99.9vh;
  }
  .grid-container > div {
    margin: 3px;
    display: flex;
    align-items: top;
  }
  
  .item-header {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .item-player {
    aspect-ratio: var(--ratio);
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item-description {
    grid-column: 1/2;
    grid-row: 3/5;
  }
  .item-search {
    background-color: #f1f1f1;
    grid-column: 2/3;
    grid-row: 2/5;
  }
  
  @media screen and (max-width: 720px) {
    .item-player {
      grid-column: 1/3;
      grid-row: 2/3;
    }
    .item-description {
      grid-column: 1/3;
      grid-row: 3/4;
    }
    .item-search {
      grid-column: 1/3;
      grid-row: 4/5;
    }
  }
  
  .grid-description {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 40%;
    grid-template-rows: 72px auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .grid-description > div {
    display: flex;
    align-items: top;
  }
  
  .item-more {
    aspect-ratio: var(--ratio);
    /* background-color: #61e8e1; */
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .item-advertisement {
    /* background-color: #d1d876; */
    grid-column: 1/5;
    grid-row: 3/4;
  }
  .item-controll {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 36%;
    grid-template-rows: 48px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc!important;
    /* border-radius: 7px; */
    padding: 7px 7px;
  }
  .item-controll > div {
    display: flex;
    align-items: top;
    justify-content: center;
  }
  .item-controll > div > button {
    aspect-ratio: var(--ratio);
  }
  .item-controll-replay {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .item-controll-play-pause {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .item-controll-next {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item-controll-mute-unmute {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .item-controll-karaoke {
    grid-column: 5/6;
    grid-row: 1/2;
  }
  
  .item-next {
    grid-column: 5/6;
    grid-row: 1/4;
    margin-left: 6px;
  }

  .item-next div {
    font-family: "Arial";
    font-weight: bold;
    font-size: 14px;
  }
  .item-next div ol li {
    font-family: "Arial";
    font-weight: normal;
    font-size: 14px;
  }
  
  div.example input[type="text"] {
    padding: 10px;
    border: 1px solid grey;
    float: left;
    width: 85%;
    background: #f1f1f1;
  }
  
  div.example button {
    float: left;
    width: 15%;
    padding: 10px;
    background: #2196f3;
    color: white;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  div.example button:hover {
    background: #0b7dda;
  }
  
  /* div.example::after {
    content: "";
    clear: both;
    display: table;
  } */
  
  ul {
    list-style-type: none;
    width: 100%;
  }
  
  h3 {
    font: bold 13px Helvetica, Verdana, sans-serif;
  }
  
  div img {
    width: 120px;
    height: 68px;
    object-fit: cover;
    float: left;
    margin: 0 7px 0 0;
  }
  
  div p {
    font: 200 11px Georgia, Arial, serif;
  }
  
  ul div {
    padding: 7px;
    overflow: auto;
  }
  
  ul div:hover {
    background: #ddd;
    cursor: pointer;
  }
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.5s;
    font-size: 14px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* submenu */
  .hide {
    display: none;
  }
  .show {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    z-index: 1000;
    position: absolute;
    background-color: #c0c0c0;
    border: 1px solid;
    padding: 2px;
    display: block;
    margin: 0;
    list-style-type: none;
    list-style: none;
  }
  .show button {
    float: left;
    padding: 10px;
    background: #2196f3;
    color: white;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  .show button:hover {
    background: #0b7dda;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 30px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 24px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }